.navbar {
    background-color: #386ac1;
}

.navbar * {
    color: white;
}

.navbar-brand {
    margin-left:50px;
    margin-right: 100px;
}

#about, #portfolio {
    margin-bottom: 80px;
}
#aboutpic {
    width:80px;
    height:100px;
    float: left;
    border-radius: 50%;
    margin-right: 40px;
}

#about h3, p {
    width: 70%;
    margin:auto;
}